body .container{
    font-family: 'Poppins', sans-serif;
    width: 1140px;
    height: 100vh;
    font-weight: 500;
    line-height: 1.6
    scroll-behavior: smooth;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right{
    width: 45%;
}
img{
    width: 100%;
}
h1, h2{
    line-height: 1.2;
    color: rgb(58, 58, 58);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 45px;
}

h3{
    font-size: 25px;
}
.button{
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, rgb(112, 129, 223), tomato);
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.button:hover{
    transition: 0.3s;
    color:black;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(46, 40, 131));
}

span{
    color: orange;
}
p{
    width: 80%;
    background-color: rgba(8, 8, 8, 0.027);
    color: rgb(100, 98, 98);
    margin: 20px 0 40px 0;
    
}


.about {
    background:url('images/shapes/Frame\ 58.jpg');
    background-repeat: no-repeat;
}
.about img{
width: 65%;
padding-top: 75px;
}

.recipe{
 padding: 60px 0;
}

.single h3{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 800;
}

.info h2, .info p{
    padding-bottom: 20px;
    text-align: center;
    width: 40%;
    margin: auto;
}
.recipe .single{
    width: 28%;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.1);
    height: auto;
}

 .recipe .single p{
      width: 100%;
      margin: 5px 0 20px 0;
      text-align: left;
  }

.recipe img{
    margin-bottom: 20px;
    padding: 0;
    border-radius: 25px;
}

.boxes .container{
    height: auto;
}

.statistics-box .container{
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 80px;
    text-transform: capitalize;
    border-radius: 25px;
    justify-content: space-around;
    height: 200px;
    
}
.statistics-box .box-2 #stat{
    width: 18.5%;
    color: black;
    
}

footer{
    text-align: center;
    background-color:rgb(11, 13, 23);
    color: white;
    height:150px;
}

h5{
    font-weight: lighter;
}

footer h3{
    color:#5B5B5B;
    margin-top: 0px;
    padding-top: 20px
}
